:root {
    --primary-color: #AAD5D5;
    --secondary-color: #AABFD5;
    --terziary-color: #C6D4E3;
    --background-color-grid: #E2E9F1;
    --background-color-grid: #E2E9F1;
}

* {
    box-sizing: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(100, 98, 98);
}


/* 
.container {
    width: 100%;
    margin: 0 auto;
} */


/* .text-center {
    text-align: center;
} */


/* .grid {
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr) 2fr 3fr;
    padding: 1rem 2rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    background-color: var(--background-color-grid);
    color: rgb(61, 61, 61);
} */


/* .bold>p {
    font-weight: bold;
}

.dark {
    opacity: 0.8;
    filter: brightness(90%);
} */